name: Publish
on:
  push:
    branches: ['release']
  workflow_dispatch:
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          context: .
          push: true
          tags: |
            ghcr.io/ninja03/kakomimasu:latest
            ghcr.io/ninja03/kakomimasu/${{ github.sha }}
            ghcr.io/ninja03/kakomimasu/${{ github.ref }}
